body {
    font-family: 'Times New Roman', Times, serif, sans-serif;

}
header {
    background-color: #02a8a0;
    color: white;
}

main.start {
    background-color: rgb(0, 255, 8); 
    padding: 20px;
}

main.two {
    background-color: white;
    padding: 20px;
}

main.three {
    background-color: #ff0000; 
    padding: 20px;
}

div#vision {
    background-color: white;
    padding: 20px;
}

main.four {
    background-color: #80deea; 
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;

}

img {
    max-width: 300px;

    border-radius: 25%;
}

